/* General */
body {
	font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-align: left;
}
.container-fluid {
    padding: 0;
}
h1 {
    color: #2d3950;
    font-size: 40px;
    margin-bottom: 30px;
}
h2 {
    color: #2d3950;
    font-size: 40px;
    margin-bottom: 20px;
}
h3 {
    color: #2d3950;
    font-size: 22px;
}
p {
    color: #999999;
    font-size: 20px;
    line-height: 32px;
}

/* Helpers */
.description {
    color: #909090;
    font-size: 15px;
}
.full-width {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
.full-height {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.standard-button {
    background-color: transparent;
    color: #ffffff;
    font-size: 18px;
    font-size: 1.2vw;
    text-transform: none;
    padding: 20px 20px;
    padding: 1.5vw 0.5vw;
    text-decoration: none;
    border: #15a4fa 1px solid;
}
.standard-button:hover {
    color: #15a4fa;
    border-color: #ffffff;
    text-decoration: none;
}

/* Page Elements */
.nav {
    background-color: #f6f9f9;
}
.background-primary {
    background-color: #f6f9f9;
    padding-top: 80px;
    padding-bottom: 110px;
}

.background-secondary {
    background-color: #ffffff;
    padding-top: 65px;
    padding-bottom: 65px;
}
.footer {
    padding-top: 25px;
    padding-bottom: 10px;
    text-align: left;
}

/* Header */
.logo {
    margin-top: 30px;
    margin-bottom: 30px;
}
.full-image {
    padding: 0px;
    margin: 0px;
    width: 100%;
}

/* Banner */
.banner-title {
    color: #ffffff;
    font-size: 120px;
    font-size: 8.5vw;
    font-weight: 700;
    letter-spacing: 3px;
    letter-spacing: .5vw;
    text-transform: uppercase;
    position: absolute;
    text-align: center;
    top: 20%;
    left: 30%;
    width: 40%;
    border-top: none;
    border-bottom: #15a4fa 1px solid;
    padding-top: 0px;
    padding-top: 0;
    padding-bottom: 15px;
    padding-bottom: 1vw;
}
.banner-subtitle {
    color: #ffffff;
    font-size: 12px;
    font-size: 1.25vw;
    font-weight: 400;
    text-transform: none;
    position: absolute;
    text-align: center;
    top: 45%;
    left: 30%;
    width: 40%;
}
.banner-button {
    position: absolute;
    text-align: center;
    top: 60%;
    left: 44%;
    left: 43vw;
    width: 12%;
    width: 14vw;
    display: inline-block;
}

/* Portfolio */
.portfolio-gallery {
    margin-top: 80px;
}
.gallery-image {
    margin-bottom: 30px;
}
/* Based on Hover Effect 12 from https://miketricking.github.io/dist/ */
.hover-effect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
    background: #2bacfa;
}
.hover-effect .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    padding: 80px 20px;
}
.hover-effect img {
  display: block;
  position: relative;
  max-width: none;
  width: calc(100% + 20px);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-10px,0,0);
  transform: translate3d(-10px,0,0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.hover-effect:hover img {
  opacity: 0.4;
  filter: alpha(opacity=40);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.hover-effect a, .hover-effect p {
  color: #FFF;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(100%,0,0);
  transform: translate3d(100%,0,0);
}

.hover-effect:hover a, .hover-effect:hover p {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
.zoom {
    border: 1px solid #ffffff;
    border-radius: 2px;
    padding: 5px 9px 7px 9px;
    margin-right: 10px;
}
.link {
    border: 1px solid #ffffff;
    border-radius: 2px;
    padding: 5px 9px 7px 9px;
    margin-left: 10px;
}
/* Featherlight */
.featherlight .featherlight-content {
    max-width: 500px;
}
.lightbox {
    display: none;
}


/* Contact */
#contact {
    height: 700px;
    padding-top: 65px;
    padding-bottom: 65px;
    background-image: url(../img/contact.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#contact h2 {
    color: #ffffff;
}

/* Form */
.form-control {
    background-color: transparent;
    border-radius: 0;
    padding: 25px;
    color: #ffffff;
}
#contact .standard-button {
    float: right;
    padding: 15px 55px 15px 55px;
}
#contact .checkbox-inline {
    float: left;
    color: #ffffff;
    margin-top: 15px;
}

/* Footer */
.social-icons ul {
    list-style: none;
    float: right;
}
.social-icons ul li {
    display: inline-block;
    padding-left: 5px;
}

.social-icons ul li:hover {
    opacity: 0.5;
}

/* Media Queries */
@media (max-width: 768px) {
	.bottom-margin {
		margin-bottom: 30px;
	}
}
